<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Email Verification</title>
</head>
<body>
  <h1>Email Verification</h1>
  <p>Hello
    <strong>#{username}</strong>,<br>Please verify your email by either clicking the following link: <a href="#{verifyLink}">Verify Email</a> or copy and pasting the link below into your browser: <br>#{verifyLink}
  </p>
</body>
</html>